<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="errorMgmtApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Getting Started With ngGrid Example</title>
<link rel="stylesheet" type="text/css" href="../lib/css/ng-grid.css" />
<script type="text/javascript" src="../lib/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="../lib/js/angular.js"></script>
<script type="text/javascript" src="../lib/js/ng-grid.js"></script>
<script type="text/javascript" src="../lib/js/ng-grid-flexible-height.js"></script>
<script type="text/javascript" src="../controllers/errorMgmtController.js"></script>

<link rel="stylesheet" type="text/css" href="../lib/css/style.css" />

</head>
<body ng-controller="MyCtrl">
	<div class="gridStyle" ng-grid="gridOptions"></div>
</body>
</html>